form.paymentForm(name="paymentType" method="POST" action="/addPaymentTypes")
  label(for="type") Please enter Card Brand, ie. "Visa", "Master Card", etc.
  input.text(id="type" name="type" type="text")
  label(for="account_number") 16 digit Account number
  input.text(name="account_number" type="text")
  input.btn(type="submit" value="submit")
  
 
