doctype html
html
  head
    title Bangazon!
  include stylesheets.pug
    body
    include nav
      div.container
        h1 Please enter your information into the fields below! 
        include partials/payment-form.pug