doctype html
html
  head
    title Bangazon!
  include stylesheets.pug
    body
    include nav
  div.container
    block content
            h1 Your Orders
            each order in viewOpenOrders
              form(method="POST" action="/cart/delete/")
                button(type="submit") Clear Shopping Cart
              each product in order.Products
                ul
                  li= `${product.title}`
                  li= `${product.price}`
                  form(method="POST" action=`/cart/removeItem/${product.id}`)
                    button(type="submit") &times;