doctype html
html
  head
    title Bangazon!
  body
    h1 Bangazon!
    include nav

  block content
    button#showLogin login
    button#showRegister register

    script
      include ../client/client.js
