doctype html
html
  head
    title Bangazon!
  include stylesheets.pug
  body
    include nav

  block content
    div.container.landing
      button#showLogin login
      button#showRegister register

    script
      include ../client/client.js
