doctype html
html
  head
    title Bangazon!
  include stylesheets.pug
  body
    include nav

  block content
    button#showLogin login
    button#showRegister register

    script
      include ../client/client.js
