doctype html
html
  head
    title Bangazon!
  include stylesheets.pug
  body
    include nav
    //- audio(autoplay='')
    //-   source(src='../assets/wildSide.mp3', type='audio/mp3')  

  block content
    div.container.landing
      button#showLogin login
      button#showRegister register



    script
      include ../client/client.js
