extends welcome.pug

block content
  h1 My Account
  ul.editForm
    li
      // link to pre-rendered template //
      a(href="/edit-account-info") Edit Account Info
    li
      a(href="/view-orders") View Orders
    li
      a(href="/payment-types") Payment Types




