if session.passport
  .navContainer
    span #{session.passport.user.username}
    form.searchForm(method="POST" action="/search")
      input.searchBar(type="text" placeholder="search-products" name="search")
      button(type="submit" formaction="/search") search
    ul.navMenu
      li
        div.navOption  
          a(href="/sell") Sell Product
      li 
        a(href="/products/list") My Products
      li 
        a(href="/account") My Account
      li 
        a(href="/cart") Shopping Cart
      li
        form(method="POST")
          button(type="submit" formaction="/logout") logout
