if session.passport
  span #{session.passport.user.username}
  .nav-flex
    form(method="POST" action="/search")
      input.searchBar(type="text" placeholder="search-products" name="search")
      button(type="submit" formaction="/search") search
    ul.navMenu
      li 
        a(href="/sell") Sell Product
      li 
        a(href="/products/list") My Products
      li 
        a(href="/account") My Account
      li 
        a(href="/cart") Shopping Cart
  form(method="POST")
    button(type="submit" formaction="/logout") logout
