extends index.pug

//- include partials/nav.pug
block content
  if message
    h2= message
  form.sell-form(method="POST" action="/sell")
    h3 Title:
    input(type="text" name="title" placeholder="title")
    h3 Price:
    input(type="price" name="price" placeholder="price")
    h3 Description:
    input(type="text" name="description" placeholder="description")
    h3 Image URL:
    input(type="text" name="image" placeholder="image")
    h3 Quantity:
    input(type="text" name="quantity" placeholder="quantity")
    h3 Product Type
    input(type="text" name="productTypeId" placeholder="Select-Placeholer")
    button.sellSubmit(type="submit") Submit
