extends my-account

block content
  h1
    a(href="account") Go Back to my account!
  h1 Welcome to the orders view page!
  h2 Here are your current orders, click on one to see it's deets!
    ul 
    //-   each ord in order
    //-     li= `${ord.id}`
    //-       a(href=`/${ord}/${ord.id}`) Payment Types
